<table id="hor-minimalist-a">
  <tbody>
    <% collection.each || resource.pastes.each do |paste| %>
      <tr>
        <td><%= link_to paste.name, paste %></td>
        <td><%= link_to paste.language.name, language_path(paste.language.name) %></td>
        <td><%= link_to "Delete Paste", paste, method: :delete %></td>
        <td><%= lines paste.content, paste.language %></td>
        <td><%= paste.user.username if paste.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>